<div class="row">
  <h1>Sema IoT Platform!</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="padding-bottom: 12px">Temperature sensor</h3>
    <span class="label label-warning" style="font-size: 20px">27 ºC</span>
  </div>
  <div class="panel-body">
    <chart [options]="temperatureOpts" class="col-sm-12 col-md-12"></chart>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="padding-bottom: 12px">Gas presence</h3>
    <span class="label label-danger" style="font-size: 20px">No (OK)</span>
  </div>
  <div class="panel-body">
    <chart [options]="temperatureOpts" class="col-sm-12 col-md-12"></chart>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="padding-bottom: 12px">Light sensor</h3>
    <span class="label label-primary" style="font-size: 20px">XXX Lux</span>
  </div>
  <div class="panel-body">
    <chart [options]="temperatureOpts" class="col-sm-12 col-md-12"></chart>
  </div>
</div>