<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="label label-warning" style="font-size: 20px">Lamp</span>
      </div>
      <div class="panel-body clickable" (click)="lampController()" style="text-align:center;">
        <img src="./../../assets/icon_lamp.png" class="col-sm-12 col-md-12" style="max-width:256px; float:none" />
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="label label-warning" style="font-size: 20px">Music</span>
      </div>
      <div class="panel-body clickable" (click)="musicPlayerController()" style="text-align:center;">
        <img src="./../../assets/icon_music.png" class="col-sm-12 col-md-12" style="max-width:256px; float:none" />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="label label-warning" style="font-size: 20px">Colorful bulb</span>
      </div>
      <div class="panel-body clickable" (click)="bulbController()" style="text-align:center;">
        <img src="./../../assets/icon_lamp.png" class="col-sm-12 col-md-12" style="max-width:256px; float:none" />
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="label label-warning" style="font-size: 20px">Zen mode</span>
      </div>
      <div class="panel-body clickable" (click)="zenModeController()" style="text-align:center;">
        <img src="./../../assets/icon_budda.jpg" class="col-sm-12 col-md-12" style="max-width:256px; float:none" />
      </div>
    </div>
  </div>
</div>